In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\takis\Documents\employee_salary_dataset.csv')

In [ ]:
df

In [ ]:
#σβηνω τις null τιμες 
df.dropna(inplace = True)
df

In [ ]:
#(ελεγχος για διπα)
df.duplicated(subset=['EmployeeID']).sum()
#κανω ενα drop το column name  γτ δεν προσφεερει κατι στην ανάλυση
df.drop(columns='Name', inplace = True)

In [ ]:
#προσθετω κλιμακα στο salary
categories = []
for x in df['Monthly_Salary']:
    if x < 70000 :
        categories.append('LOW')
    elif x > 100000 :
        categories.append('HIGH')
    else: 
        categories.append('MEDIUM')

df['Salary_Category'] = categories
df

In [ ]:
#δημιουργια seniority  αναλογα με τα χρονια 
category_seniority= []
for x in df['Experience_Years']:
    if x <=  2:
        category_seniority.append('ENTRY_LEVEL')
    elif x <= 5 :
        category_seniority.append('MID_LEVEL')
    else: 
        category_seniority.append('SENIOR_LEVEL')

df['Seniority'] = category_seniority
df

In [12]:
#μεσος ορος ανα department
bydep = df.groupby('Department')['Monthly_Salary'].mean().round(2)

df['Department_Average'] = df['Department'].map(bydep)
df

,EmployeeID,Department,Experience_Years,Education_Level,Age,Gender,City,Monthly_Salary,Salary_Category,Seniority,Department_Average
0,1,Marketing,15,Master,53,Female,Delhi,111416,HIGH,SENIOR_LEVEL,96430.85
1,2,Operations,7,Bachelor,25,Female,Bangalore,95271,MEDIUM,SENIOR_LEVEL,84239.90
2,3,IT,12,High School,51,Female,Hyderabad,69064,LOW,SENIOR_LEVEL,76520.50
3,4,Operations,8,PhD,44,Male,Delhi,95091,MEDIUM,SENIOR_LEVEL,84239.90
4,5,Operations,15,Master,36,Female,Delhi,132450,HIGH,SENIOR_LEVEL,84239.90
5,6,Finance,3,High School,50,Male,Mumbai,65818,LOW,MID_LEVEL,67261.90
6,7,IT,14,PhD,57,Male,Mumbai,70525,MEDIUM,SENIOR_LEVEL,76520.50
7,8,IT,17,PhD,34,Female,Bangalore,44830,LOW,SENIOR_LEVEL,76520.50
8,9,IT,4,Bachelor,53,Male,Hyderabad,42429,LOW,MID_LEVEL,76520.50
9,10,Operations,18,High School,28,Male,Mumbai,31893,LOW,SENIOR_LEVEL,84239.90
10,11,Marketing,8,PhD,43,Male,Delhi,141381,HIGH,SENIOR_LEVEL,96430.85
11,12,IT,4,Master,49,Female,Hyderabad,104909,HIGH,MID_LEVEL,76520.50
12,13,Operations,2,Master,23,Female,Hyderabad,72333,MEDIUM,ENTRY_LEVEL,84239.90
13,14,Finance,6,Bachelor,27,Male,Delhi,28436,LOW,SENIOR_LEVEL,67261.90
14,15,Marketing,10,PhD,49,Female,Mumbai,99290,MEDIUM,SENIOR_LEVEL,96430.85
15,16,Finance,4,High School,49,Female,Delhi,101213,HIGH,MID_LEVEL,67261.90
16,17,Marketing,18,Master,41,Female,Hyderabad,30895,LOW,SENIOR_LEVEL,96430.85
17,18,Operations,12,PhD,51,Female,Chennai,44738,LOW,SENIOR_LEVEL,84239.90
18,19,HR,2,PhD,32,Male,Chennai,55746,LOW,ENTRY_LEVEL,82945.14
19,20,Marketing,10,Bachelor,49,Male,Bangalore,74377,MEDIUM,SENIOR_LEVEL,96430.85
20,21,Finance,4,Master,46,Female,Delhi,73404,MEDIUM,MID_LEVEL,67261.90
21,22,Operations,14,Master,54,Female,Delhi,79045,MEDIUM,SENIOR_LEVEL,84239.90
22,23,Marketing,16,High School,22,Male,Bangalore,122888,HIGH,SENIOR_LEVEL,96430.85
23,24,HR,15,Master,48,Male,Bangalore,64790,LOW,SENIOR_LEVEL,82945.14
24,25,HR,8,High School,34,Female,Bangalore,132455,HIGH,SENIOR_LEVEL,82945.14
25,26,IT,14,Master,24,Male,Hyderabad,30600,LOW,SENIOR_LEVEL,76520.50
26,27,IT,8,Bachelor,27,Female,Delhi,119660,HIGH,SENIOR_LEVEL,76520.50
27,28,Finance,16,Master,29,Female,Hyderabad,118179,HIGH,SENIOR_LEVEL,67261.90
28,29,Marketing,13,High School,48,Male,Bangalore,65764,LOW,SENIOR_LEVEL,96430.85
29,30,Marketing,18,High School,30,Male,Delhi,99543,MEDIUM,SENIOR_LEVEL,96430.85
30,31,IT,15,Bachelor,54,Female,Hyderabad,70714,MEDIUM,SENIOR_LEVEL,76520.50
31,32,Marketing,13,Master,45,Female,Hyderabad,81835,MEDIUM,SENIOR_LEVEL,96430.85
32,33,Marketing,9,Master,36,Male,Bangalore,127946,HIGH,SENIOR_LEVEL,96430.85
33,34,HR,15,Bachelor,53,Female,Delhi,134616,HIGH,SENIOR_LEVEL,82945.14
34,35,IT,13,Master,53,Male,Bangalore,130983,HIGH,SENIOR_LEVEL,76520.50
35,36,Operations,1,Master,45,Female,Delhi,98744,MEDIUM,ENTRY_LEVEL,84239.90
36,37,IT,7,High School,33,Male,Chennai,81491,MEDIUM,SENIOR_LEVEL,76520.50
37,38,Operations,9,Master,23,Male,Mumbai,149123,HIGH,SENIOR_LEVEL,84239.90
38,39,HR,1,Master,24,Male,Mumbai,43589,LOW,ENTRY_LEVEL,82945.14
39,40,Finance,12,Bachelor,38,Female,Mumbai,68484,LOW,SENIOR_LEVEL,67261.90
40,41,Marketing,8,Bachelor,23,Female,Bangalore,107989,HIGH,SENIOR_LEVEL,96430.85
41,42,HR,11,PhD,23,Male,Chennai,61212,LOW,SENIOR_LEVEL,82945.14
42,43,Marketing,19,High School,49,Female,Delhi,68525,LOW,SENIOR_LEVEL,96430.85
43,44,Finance,17,Master,44,Male,Hyderabad,72202,MEDIUM,SENIOR_LEVEL,67261.90
44,45,Finance,8,Master,53,Male,Delhi,57635,LOW,SENIOR_LEVEL,67261.90
45,46,HR,3,PhD,54,Female,Hyderabad,88208,MEDIUM,MID_LEVEL,82945.14
46,47,Finance,3,Master,22,Female,Delhi,58828,LOW,MID_LEVEL,67261.90
47,48,Operations,1,High School,40,Male,Chennai,43711,LOW,ENTRY_LEVEL,84239.90
48,49,Finance,5,PhD,23,Female,Hyderabad,28420,LOW,MID_LEVEL,67261.90
49,50,Marketing,10,High School,47,Female,Bangalore,121752,HIGH,SENIOR_LEVEL,96430.85